@charset "utf-8";
@import url("webfonts/Oswald_Regular/stylesheet.css");


#logo{
	padding: 0px;
	margin-top: -20px;
	margin-right: 50px;
	margin-left: 10px;
}

.nav_s{
	background-color: #424242;
	height: 78px;
}

.nav-l{
	background-color: #424242;
}

.nav-l a{
	color: #E0DEDF !important;
	font-size: 20px;
	width: 120px;
	padding-top: 28px !important;
	font-family: basic;
	font-style: normal;
}

.nav-l a:hover{
	color: #1DB7B4 !important;
}

#img{
	margin-left: 150px;
	width: 65%;
	height: 65%;
}

.title{
	background-color: #1DB7B4;
	color: #E0DEDF;
	width: 250px;
	text-align: center;
	font-family: Impact, "sans-serif";
	font-size: 45px;
	margin-top: 80px;
	border:2px solid #1DB7B4;
    border-radius:10px;
}

#content{
	font-size: 15px;
	font-weight: bold;
	margin-top: 30px;
	width: 550px;
	padding-bottom: 30px;
}

.black{
	background-color: #424242;
	color: #E0DEDF;
	font-family: basic;
	font-size: 20px;
	font-weight: normal;
	width: 500px;
	padding-left: 24px;
	height: 50px;
	padding-top: 10px;
	border:2px solid #424242;
    border-radius:10px;
}

.black_s{
	background-color: #424242;
	color: #E0DEDF;
	font-family: basic;
	font-size: 20px;
	font-weight: normal;
	width: 250px;
	padding-left: 24px;
	height: 50px;
	padding-top: 10px;
	border:2px solid #424242;
    border-radius:10px;
}

.black_s a{
	color: #E0DEDF;
}

.black_s a:hover{
	color: #1DB7B4;
	text-decoration: none;	
}
